@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="MovieSearchForm" asp-controller="Home">Search Movies</a>
<a asp-action="MovieNightForm" asp-controller="Home">Movie Night</a>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
