
<div class="text-center">
    <h1> Congratulations! On finding your new Fuzzy Friend!</h1>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Pet">Back</a>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
</div>