@model List<Pet>


<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Home</a>
<div class="text-center">
    <h1>Welcome to FuzzyFriends Pet Adoption!</h1>

    <div class="row">
        <div class="text-center">
            <form asp-controller="Pet" asp-action="Index">
                <div class="input-group mb-3">
                    <input name="searchTerm" type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        @foreach(var pet in Model)
        {
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <img src="@pet.Image" class="card-img-top" alt="@pet.Name">
                    <div class="card-body">
                        <h5 class="card-title">@pet.Name</h5>
                        <p class="card-text">@pet.Description</p>
                        <a class="btn btn-primary" asp-action="GetById" asp-controller="Pet" asp-route-id=@pet.Id>Details</a>
                    </div>
                </div>
            </div> 
        }
    </div>
</div>