@model Response

<h1>You are now viewing r/aww</h1>

@for(int i = 0; i < Model.data.children.Count(); i ++)
{
    <div class="card" style="width: 18rem;">
        <img src="@Model.data.children[i].data.thumbnail" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">@Model.data.children[i].data.Title</h5>
            <a href="@Model.data.children[i].data.Url" class="btn btn-primary">View Original Post</a>
        </div>
    </div>
}